{
    order crcauth before respond
    log
    http_port 8080
}


:8080 {
    log
    tls internal

    crcauth {
        output stdout
        bop {$CADDY_BOP_URL}
        whitelist {$CADDY_WHITELIST}
    }
    reverse_proxy 127.0.0.1:{$CADDY_PORT}
}
